
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow get: if isOwner(userId);
      allow list: if false;
      allow create: if isOwner(userId);
      allow update: if isOwner(userId);
      allow delete: if isOwner(userId);

      match /transcripts/{transcriptId} {
        allow read, write: if isOwner(userId);
      }

      match /tasks/{taskId} {
        allow read, write: if isOwner(userId);
      }

      match /runs/{runId} {
        allow read, write: if isOwner(userId);
        
        match /logEvents/{logEventId} {
          allow read, write: if isOwner(userId);
        }
      }
    }
  }
}
